@model Book

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="modal fade" id="editModal_@ViewData["index"]" tabindex="-1" aria-labelledby="editModalForm" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Edit Book</h5>
            </div>
            <form method="post" asp-action="Edit">
                <div class="modal-body">
                    <input asp-for="Id" />
                    <div>
                        <label class="form-label" asp-for="Name"></label>
                        <input class="form-control" type="text" asp-for="Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div>
                        <label class="form-label" asp-for="ISBN"></label>
                        <input class="form-control" type="text" asp-for="ISBN" />
                        <span asp-validation-for="ISBN" class="text-danger"></span>
                    </div>
                    <div>
                        <label class="form-label" asp-for="Publisher"></label>
                        <input class="form-control" type="text" asp-for="Publisher" />
                        <span asp-validation-for="Publisher" class="text-danger"></span>
                    </div>
                    <div>
                        <label class="form-label" asp-for="Author"></label>
                        <input class="form-control" type="text" asp-for="Author" />
                        <span asp-validation-for="Author" class="text-danger"></span>
                    </div>

                </div>
                <div class="modal-footer">
                    <input class="btn btn-primary" type="submit" value="Send" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>